## Importing Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Upload the dataset

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
fault = pd.read_excel('DefaultLoan.xlsx')

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
fault.head()

   Unnamed: 0 default student      balance        income
0           1      No      No   729.526495  44361.625074
1           2      No     Yes   817.180407  12106.134700
2           3      No      No  1073.549164  31767.138947
3           4      No      No   529.250605  35704.493935
4           5      No      No   785.655883  38463.495879

## Data Cleaning/ Transforming

In [6]:
fault.drop(columns = 'Unnamed: 0' , axis = 1, inplace = True)

In [7]:
fault.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()

In [12]:
fault['Default'] = le.fit_transform(fault.default)
fault['student'] = le.fit_transform(fault.student)

In [13]:
fault.drop(columns = ['student' , 'default'] , axis = 1 , inplace = True)

In [14]:
fault.head()

       balance        income  Default
0   729.526495  44361.625074        0
1   817.180407  12106.134700        0
2  1073.549164  31767.138947        0
3   529.250605  35704.493935        0
4   785.655883  38463.495879        0

In [15]:
label = fault['Default']
features = fault.drop(columns = 'Default' , axis = 1)

In [16]:
label.head()

0    0
1    0
2    0
3    0
4    0
Name: Default, dtype: int32

In [17]:
features.head()

       balance        income
0   729.526495  44361.625074
1   817.180407  12106.134700
2  1073.549164  31767.138947
3   529.250605  35704.493935
4   785.655883  38463.495879

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [23]:
model_params = {
    'decision_tree': {
        'models': DecisionTreeClassifier(),
        'params':{
            'splitter': ['best','random']
        }
    },
    
    'random_forest':{
        'models': RandomForestClassifier(),
        'params': {
            'criterion':['gini','entropy']
        }
    },
    'logistic_regression':{
        'models': LogisticRegression(solver='liblinear'),
        'params': {
            'C': [5,10]
        }
    }
}

In [24]:
scores = []

for model_name, mp in model_params.items():
    clf = GridSearchCV(mp['models'], mp['params'], cv=5 , return_train_score = False)
    clf.fit(features, label)
    scores.append({
        'model' : model_name,
        'best_score' : clf.best_score_,
        'best_param' : clf.best_params_
        
    })

In [25]:
scores

[{'model': 'decision_tree',
  'best_score': 0.9556000000000001,
  'best_param': {'splitter': 'random'}},
 {'model': 'random_forest',
  'best_score': 0.9692999999999999,
  'best_param': {'criterion': 'gini'}},
 {'model': 'logistic_regression',
  'best_score': 0.9663999999999999,
  'best_param': {'C': 5}}]

In [26]:
scored = pd.DataFrame(scores)
scored

                 model  best_score              best_param
0        decision_tree      0.9556  {'splitter': 'random'}
1        random_forest      0.9693   {'criterion': 'gini'}
2  logistic_regression      0.9664                {'C': 5}

## second Approach

In [27]:
fault.describe()

            balance        income       Default
count  10000.000000  10000.000000  10000.000000
mean     835.374886  33516.981876      0.033300
std      483.714985  13336.639563      0.179428
min        0.000000    771.967729      0.000000
25%      481.731105  21340.462903      0.000000
50%      823.636973  34552.644802      0.000000
75%     1166.308386  43807.729272      0.000000
max     2654.322576  73554.233495      1.000000

In [29]:
fault['Income'] = fault.income.apply(lambda x : x> 22000)
fault['Balance'] = fault.balance.apply(lambda x: x> 1100)

In [30]:
fault.head()

       balance        income  Default  Income  Balance
0   729.526495  44361.625074        0    True    False
1   817.180407  12106.134700        0   False    False
2  1073.549164  31767.138947        0    True    False
3   529.250605  35704.493935        0    True    False
4   785.655883  38463.495879        0    True    False

In [39]:
faulty = fault.drop(columns=['balance','income','Income','Balance'], axis=1)

KeyError: "['balance', 'Income', 'Balance'] not found in axis"

In [36]:
faulty

NameError: name 'faulty' is not defined